mixin sEvents()
	// start sEvents
	+b.sEvents&attributes(attributes)
		mixin item(d,t,l, star )
			+e.item
				.row
					+e.time.strong.text-primary.col-lg-auto.col.order-first!= d
					if !star
						.col-auto.order-lg-last
							+e.star.active
								+icon('star-active')
						.col-md-auto.order-md-first.order-lg-0
							+e.label-elem!= l
					.col-lg.order-lg-first
						+e.text-block
							+e.title.strong
								a(href="#").text-body!= t
							+e.text
								.row
									if block
										block
									else
										.col-auto
											strong.text-primary Ольга Сигаль 
											| 
											span OCS Distribution
					//- .col-auto.order-lg-last
					//- 	+e.star.active
					//- 		+icon('star-active')
					//- .col-md-auto.order-md-first.order-lg-0
					//- 	+e.label-elem!= l


		+item(`12:40`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Круглый стол`)
		+item(`13:50`, `Круглый стол с Анной Черняковой, вице-президентом OCS Distribution`, `Круглый стол`)

		+item(`13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`) 
		+item(`13:50`, `Название сессии от вендора в одну или несколько строк`, ``,"st") 
			.col-12
				+e.copy-block
					.row
						.col-sm
							+e.link-text https://docs.google.com/document/d/12uUxcxKaEXUW9f7X2PC-Gn_aNHgxL_g5ys_GDyPQ5oE/edit#
						.col-auto
							button.btn.btn-sm.btn-primary Копировать
						.col-auto
							button.btn.btn-sm.btn-primary Присоединится



mixin sEvents-12()
	// start sEvents
	+b.sEvents--page.section#sEvents&attributes(attributes)
		.container.container-large
			mixin item(d,t,l, star , active)
				+e.item(class="wow  animate__fadeInUp "   )&attributes(attributes)
					.row
						+e.time.strong.text-primary.col-lg-auto.col.order-first!= d

						if star
							.col-auto.order-lg-last
								+e.star(class= active)
									+icon('star-active')
						if l
							.col-md-auto.order-md-first.order-lg-0
								+e.label-elem!= l
						.col-lg.order-lg-first
							+e.text-block
								+e.title.strong
									a(href="#").text-body!= t
								if block
									block
								else
									+e.text 
										.row
											.col-auto
												strong.text-primary Ольга Сигаль 
												| 
												span OCS Distribution
												
			mixin itemB(d,t,l, star , active)
				+e.item(class="wow  animate__fadeInUp "   )&attributes(attributes)
					.row
						+e.time.strong.text-primary.col-lg-auto.col.order-first!= d

						if star
							.col-auto.order-lg-last
								+e.star(class= active)
									+icon('star-active')
						if l
							.col-md-auto.order-md-first.order-lg-0
								+e.label-elem!= l
						.col-12
							+e.text-block
								+e.title.strong!= t
								if block
									block
								else
									+e.text 
										.row
											.col-auto
												strong.text-primary Ольга Сигаль 
												| 
												span OCS Distribution
			.tabs
				.tabs__caption
					.tabs__btn.btn.btn-outline-primary.active Программа 
					.tabs__btn.btn.btn-outline-primary Включение из демо-зон
			.tabs__wrap
				.tabs__content.active
					+item(`11:50`, `Начало мероприятия, приветственное слово участникам`, ` `) 
					+item(`12:05`, `Панельная дискуссия с Максимом Сорокиным, председателем совета директоров OCS Distribution`, `Панельная дискуссия`,'s','active')
						.row
							.col-auto
								strong.text-primary Максим Сорокин  
								| 
								span OCS Distribution
							.col-auto
								strong.text-primary Виктор Дробышев
								| 
								span Google inc.
					+item(`12:30`, `Начало работы зоны EXPO`, ` `)(class="disabled") 
					+item(`12:30`, `Прямой эфир из зоны EXPO`, ` `,'s') 
					+item(`12:05`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Панельная дискуссия`,'s','active') 
					+item(`12:40`, `Начало мероприятия, приветственное слово участникам`, ` `)
					+item(`13:40`, `Прямой эфир из зоны EXPO`, ` `,'s') 
					+item(`13:40`, `Круглый стол с Анной Черняковой, вице-президентом OCS Distribution`, ` `)
					+item(`13:50`, `Прямой эфир из зоны EXPO`, ` `,'s') 
					.row.row--sm
						- for (var x = 0; x < 20; x++)
							+e.col.col-12
								+itemB(`13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`,'s')
				.tabs__content
					- for (var y = 0; y < 5; y++)
						.row.row--sm
							- for (var x = 0; x < 5; x++)
								+e.col.col-12
									+itemB(`13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`,'s')
					
	// end sEvents


mixin sEvents0()
	// start sEvents
	+b.sEvents--main.section#sEvents&attributes(attributes)
		.container
			.section-title
				.row
					.col
						h2 Программа
					.col-auto
						a.btn.btn-primary.btn-arrows(href="#") Скачать программу
			+e.line
				.row
					.col-6
						+e.date 22 октября
					.col-6
						+e.date 23 октября
				//- +e.btn.btn-primary(href="#") 
				//- 	+icon('icon-print')
			.h5.strong.mb-4 Ближайшие сессии
			mixin item(d,t, p, z)
				+e.item--main
					//- +e.star.active
					//- 	+icon('star')
					.row
						.col-12
							+e.head--main
								.row 
									+e.time.col-auto.pb-1!= d 
									block
							.h4.fw-500: a.text-white(href="#")!= t
							if p
								.h6!= p
					 
			
			+e.row-main.row
				.col-md-6
					+item(`12.55 – 14.10`, `Переговорная №1`,'Глобальное сотрудничество в условиях неопределенности','z')
						.pb-1.col-auto Встреча/переговоры
						.pb-1.col-xl.text-xl-right ЗАЛ «СТРАТЕГИИ»
				.col-md-6
					+item(`12.55 – 14.10`, `In Railway We Trust.`,`Глобальное сотрудничество в условиях неопределенности`) 
						.pb-1.col-auto.text-light Пленарная дискуссия 
						.pb-1.col-xl.text-xl-right  ЗАЛ «СТРАТЕГИИ»
		 
	// end sEvents


mixin sEvents7()
	// start sEvents
	+b.sEvents&attributes(attributes)
		mixin item(d,t,l, star )
			+e.item
				.row
					+e.time.strong.text-primary.col.order-first!= d
					if !star
						.col-auto
							+e.star.active
								+icon('star-active')
						.col-md-auto.order-md-first.order-lg-0
							+e.label-elem!= l
					.col-lg-12
						+e.text-block
							+e.title.strong
								a(href="#").text-body!= t
							+e.text
								.row
									if block
										block
									else
										.col-auto
											strong.text-primary Ольга Сигаль 
											| 
											span OCS Distribution
					//- .col-auto.order-lg-last
					//- 	+e.star.active
					//- 		+icon('star-active')
					//- .col-md-auto.order-md-first.order-lg-0
					//- 	+e.label-elem!= l


		+item(`12:40`, `Круглый стол с Ольгой Сигаль : Digital Академия, управляющий партнер «Возможен ли цифровой прорыв для IT-гигантов?»`, `Круглый стол`)
		+item(`13:50`, `Круглый стол с Анной Черняковой, вице-президентом OCS Distribution`, `Круглый стол`)

		//- +item(`13:50`, `Название сессии от вендора в одну или несколько строк`, `Сессия`) 
		//- +item(`13:50`, `Название сессии от вендора в одну или несколько строк`, ``,"st") 
		//- 	.col-12
		//- 		+e.copy-block
		//- 			.row
		//- 				.col-sm
		//- 					+e.link-text https://docs.google.com/document/d/12uUxcxKaEXUW9f7X2PC-Gn_aNHgxL_g5ys_GDyPQ5oE/edit#
		//- 				.col-auto
		//- 					button.btn.btn-sm.btn-primary Копировать
		//- 				.col-auto
		//- 					button.btn.btn-sm.btn-primary Присоединится

