mixin footer()
	+b.FOOTER.footer
		.container(class="wow  animate__fadeInUp "   )
			+e.head
				.row
					.col
						+e.text--mx КРУГЛОСУТОЧНЫЙ  ПРИЕМ ЭЛЕКТРОННОЙ КОРРЕСПОНДЕНЦИИ: 
						+e.text: a(href="mailto:FORUM@OCS.RU") FORUM@OCS.RU 
						+e.text
							a(href="tel:+7(916)0796144") +7 (916) 079 61 44
							|  Маркетинг OCS
					.col-lg-auto
						//- +e.text--md Мы в соц. сетях
						+soc
		+e.footer
			.container
				.row
					.col-xl-3.col-auto © 2020. Все права защищены 
					.col
						a(href="#") Как это было 2018 2019
					.col-auto
						a.text-white(href="#") ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ