	// start .sCabinet
	.sCabinet {
		padding-top: rem(30);
		@include media-breakpoint-up(sm){
			padding-bottom: rem(112);
		}	
		padding-bottom: rem(55);
		.avatar{
			width: rem(252);
			@include block(252, 336);
			margin-bottom: 2rem;
			img {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		&__aside{ 
			margin-bottom: rem(30);
			ul{
				list-style-type: none;
				@include media-breakpoint-up(xl) {
					display: block;
					@include roww(30px);
				}
				@include roww(10px);
						display: flex;
				 
				li{
					a:not(.active){

						color: #fff !important;
					}
						@include media-breakpoint-up(sm) {

							font-size: rem(24);
							margin-bottom: rem(34);
						}
						// font-size: rem(18);
						margin-bottom: rem(14);
					line-height: (34 / 24);
					font-weight: bold;
				}
			}
			picture{ 
				margin-bottom: rem(40);
				position: relative;
				border-radius: 4px; 
				overflow: hidden;
				width: 100px;
				@include media-breakpoint-down(sm){
					margin-bottom: rem(23);
					margin-right: 0;
				}
			}
		}

		&__col{
			@include media-breakpoint-up(xl){
				margin-left: rem(78);
			}
		}
		&__text-block{
			p{
				margin-bottom: rem(24);
			}
		}

		&__h5{
			margin-bottom: 1rem;
			font-size: rem(20);
			line-height: (28 / 20);
		}

		&__city{ 
			font-weight: 300;
			line-height: (22 / 16);
			margin-bottom: rem(28);
		}

		&__company{
			font-size: rem(20);
			line-height: (28 / 20);
		}

		&__link-tel{
			display: flex;
			align-items: center;
			background: linear-gradient(90.32deg, #2A2D31 0.23%, rgba(42, 45, 49, 0) 69.53%);
			padding: rem(16) rem(7) rem(12) rem(16);
			max-width: rem(280);
			margin-bottom: rem(18);
			font-size: rem(20);
			line-height: (28 / 20);
			.icon{
				margin-right: rem(32);
				color: $primary;
				height: rem(24);
				width: rem(24);
			}
		}

		&__mail{
			display: flex;
			align-items: center;
			background: linear-gradient(90deg, #2A2D31 0%, rgba(42, 45, 49, 0) 73.11%);
			padding: rem(16) rem(7) rem(12) rem(16);
			max-width: rem(280);
			margin-bottom: rem(18);
			.icon{
				margin-right: rem(32);
				color: $primary;
				height: rem(24);
				width: rem(24);
			}
		}

		

		&__main {
			margin-bottom: rem(30);
			padding-top: rem(10);
		}
		&__main-head {
			padding-bottom: rem(7);
			.h5 {
				text-transform: uppercase;
				font-weight: 900;
			}
		}

		&__edit-btn {
			font-size: $small;
			display: inline-flex;
			align-items: center;
			.icon {
				font-size: rem(24);
				margin-right: rem(14);
			}
		}

		&__input-wrap {
			// display: block;
			padding-bottom: rem(20);
			margin-bottom: rem(30);
			@include media-breakpoint-up(sm) {
				display: flex;
			}
			border-bottom: 2px solid rgba($color: #fff, $alpha: .1);
		}

		&__input {
			border-radius: 0;
			@include media-breakpoint-up(sm) {
				font-size: rem(20);
			}
			opacity: 1;
			background: none !important;
			@include media-breakpoint-down(sm) {
				padding-left: 0;
			}

			&.edit {
				border-color: rgba($color: #000000, $alpha: .1);
			}
		}

		.input-title {
			display: block;
			@include media-breakpoint-up(xl) {
				width: 27%;
			}
			@include media-breakpoint-up(sm) {
				width: rem(160);
			}
			width: 100%;
			font-size: rem(20);
			font-weight: bold;
			color: #8F9BB3;
			// min-height: 1px;
			// padding-top: rem(10);
			// padding-bottom: rem(8);
		}
		&__result{
			font-size: rem(20);
		}
		&__result--lang{
			opacity: 0.5;
			font-size: 1rem;
		}
		&__btn{
			border-radius: 4px;
			width: rem(162);
			margin-top: rem(5);
			padding: rem(11) rem(10);
			@include media-breakpoint-down(sm){
				margin-left: auto;
				margin-right: auto;
				display: block;
			}
		}
		.search-block{
			margin-top: 0;
		}
		@include media-breakpoint-up(xl) {}

		@include media-breakpoint-up(lg) {}

		@include media-breakpoint-up(md) {}

		@include media-breakpoint-up(sm) {}

		//
		@include media-breakpoint-between(md, xl) {}


		//
		@include media-breakpoint-only(sm) {}

		@include media-breakpoint-only(md) {}

		@include media-breakpoint-only(lg) {}

		@include media-breakpoint-only(xl) {}

		//
		@include media-breakpoint-down(xl) {}

		@include media-breakpoint-down(lg) {}

		@include media-breakpoint-down(md) {}

		@include media-breakpoint-down(sm) {
			.public-chat-header{
				display: none;
			}
			.chat-message {
				padding-right: 0;
			}

			// &__main {
			// 	text-align: center;
			// }

			&__aside {
				margin-left: auto;
				margin-right: auto;
			}
		}


		&__time {
			font-size: 10px;
			padding-top: rem(5);
			letter-spacing: 0.26em;
			text-transform: uppercase;
			/* 1 */
			color: #222222;
			opacity: 0.5;
		}

		.public-chat-messages {
			@include media-breakpoint-up(md) {
				padding: rem(24);
			}
			padding: rem(15);
		}

		.public-chat {
			// margin-right: -1rem;
			padding: 0;
		}

		.public-chat-header {
			padding: rem(24) rem(18);
		}

		.public-chat-messages {
			overflow: hidden;
			overflow-y: auto;
			height: rem(493);
			@extend .custom-scroll;

		}

		.public-chat-form {
			@include media-breakpoint-up(md) {
				padding-left: rem(20);
				padding-right: rem(20);
				padding-bottom: rem(20);
			}
			padding-left: rem(15);
			padding-right: rem(15);
			padding-bottom: rem(15);
		}

		&__col-users {
			@include media-breakpoint-down(md) {
				overflow: hidden;
				max-width: calc(#{rem(30)} + 40px);
				width: calc(#{rem(30)} + 40px);
				z-index: 2;
				&:hover {
					overflow: inherit;
				}
				.public-chat {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					max-width: none;
					
				}
			}

			border-right: 1px solid rgba($color: #8F9BB3, $alpha: .23);
			position: relative;

			.public-chat { 
				color: #ffffff; 
				background: #2A2D31; 

				box-shadow: 0px 53.6471px 67px -11.6235px rgba(0, 0, 0, 0.21);
				width: rem(300);
				text-align: left;
			}

			.col {
				max-width: calc(100% - 70px);
				

			}

			.public-chat-message-name {
				@include ellips;
			}

			.public-chat-messages {
				height: calc(#{rem(493)} - 30px);
			}

			.public-chat-pinned {
				.d-flex {
					margin-bottom: rem(25);
					cursor: pointer;
				}
			}

			.public-chat-message-photo-wrapper {
				width: rem(39);
				height: rem(39);
				flex: 0 0 rem(39);
			}
		}

		.chat-message {
			margin-bottom: rem(20);
			max-width: rem(600);
			padding-right: rem(16);
		}

		.chat-message-description {}

		.chat-message-description {
			font-size: rem(14);
			opacity: 0.7;
			&--sentTo{
				display: flex;
				&::before{
					content: url(../img/svg/check-chat.svg);
					margin-right: rem(2);
				}
			}
			&--read{
				&::after{
					content: url(../img/svg/check-chat.svg);
					order: -1;
					margin-right: rem(-9);
				}
			}
		}

		.chat-message-text-wrapper {}

		.chat-message-text {
			margin-bottom: 1rem;
		}

		.chat-message-text-wrapper {
			@include media-breakpoint-up(sm) {
				padding: rem(16) rem(27) rem(1);
			}
			padding: rem(16) rem(16) rem(1);
			margin-bottom: rem(15);
			position: relative;
			&::after {
				content: '';
				position: absolute;
				top: 100%;
			}
		}
		}

		// end.sCabinet

		.chat-message-text-wrapper--left {
			border-radius: rem(10) rem(10) rem(10) 0px;
			background-color:#C5351C ;
			&::after {
				@include triangle(12px 8px,#C5351C , up-left);
				left: 0;
			}


		}

		.chat-message--right {
			margin-left: auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			// justify-content: flex-end;
		}

		.chat-message-text-wrapper--right {
			border-radius: rem(10) rem(10) 0 rem(10);
			background-color: #0D1019;

			&::after {
				@include triangle(12px 8px, #0D1019, up-right);
				right: 0;
			}
			// transform: matrix(-1, 0, 0, 1, 0, 0);
			margin-left: auto;
		}

		.chat-message-file-wrapper {
			border-radius: 0;
			background: #8F9BB3;
			cursor: pointer;
			@include media-breakpoint-up(sm) {
				padding: rem(18) rem(27);
				max-width: rem(227);
			}
			max-width: rem(200);
			padding: rem(14) rem(16);
			display: flex;
			align-items: center;
			color: #ffffff;
			max-width: rem(227);
			margin-bottom: rem(14);

			.icon {
				font-size: rem(31);
				margin-right: rem(20);
			}

			&__size {
				opacity: 0.5;
				font-size: rem(12);
			}
		}

		.public-chat {
			.icon-check-read {
				stroke: currentColor;
				fill: transparent;
				color: $primary;
				font-size: rem(12);
				margin-right: rem(9);
			}
		}


		.search-block {
			flex-grow: 1;
			position: relative;
			margin-right: 1rem;
			input {
				background:#030A0F;
				border: 1px solid #030A0F;
				border-radius: 4px;
				padding: rem(10) rem(17);
				@include media-breakpoint-up(md) {
					padding-left: rem(17);
					padding-right: rem(40);
				}
				padding-left: rem(50);
				padding-right: rem(17);

				width: 100%;
				outline-color: rgba($color: $primary, $alpha: .5);
			}

			button {
				background: none;
				border: none;
				box-shadow: none;
				position: absolute;
				@include media-breakpoint-up(md){
					left: auto;
					right: rem(15);
				}
				left: rem(10);
				@include a-cent(y);

				.icon {
					color: $primary;
					font-size: rem(18);
				}
			}
		}

  .public-chat{
			// color: #ffffff; 
			background:#151618;
			.icon{
				color: #ffffff;
			}
		}
		.public-chat-form-input{
			background-color: transparent;
		}
		.sCabinet__col-users .public-chat {
			
		}

.asideCabmenu{
	margin-bottom: rem(30);
	ul{
		list-style-type: none;
		li{
			color: #fff !important;
			margin-bottom: rem(34);
			font-size: rem(24);
			line-height: (34 / 24);
			font-weight: bold;
		}
	}
}