mixin sVideo()
	// start sVideo
	+b.sVideo.section#sVideo&attributes(attributes) 
		.container
			+e.wrap
				+e.video.bg-wrap(href="https://www.youtube.com/watch?v=mbcP3Oc0PjU&list=PLqKQF2ojwm3l4oPjsB9chrJmlhZ-zOzWT&index=13" data-fancybox="videoGal")
					+pic("video.jpg",'bg')(class="picture-bg") 
					+icon("play")
	// end sVideo