mixin justUpgraitIt(data)
	// start justUpgraitIt
	+b.SECTION.justUpgraitIt.section#justUpgraitIt&attributes(attributes)
		.container
			+b.animate-block-circle(class="wow  animate__fadeInUp "   )
				img.img-1(src="img/svg/circle-4.svg"  loading="lazy", alt="") 
				.ellipse.ellipse-1.ellipse-css
					//- .dot.dot1
					//- .dot.dot2
					.dot.dot3
					.dot.dot4
					.dot.dot5
					.dot.dot6 
				//- img.img-2(src="img/svg/circle-2.svg", alt="") 
				.ellipse.ellipse-2.ellipse-css
					.dot.dot1
					//- .dot.dot2
					//- .dot.dot3
					.dot.dot4
					.dot.dot5
					.dot.dot6 
				img.img-3(src="img/svg/circle-3-2.svg"  loading="lazy", alt="")
				//- .ellipse.ellipse-3.ellipse-css
					//- .dot.dot1
					//- .dot.dot2
					//- .dot.dot3
					//- .dot.dot4
					//- .dot.dot5
					//- .dot.dot6 
			+e.text--top(class="wow  animate__fadeInUp "   ) Just
			+e.text--center(class="wow  animate__fadeInUp "   )
				img.res-i(src="img/svg/text.svg" loading="lazy", alt="")
			+e.text--bot(class="wow  animate__fadeInUp "   ) IT
					
	// end justUpgraitIt