mixin sWelcome(data)
	// start sWelcome
	+b.SECTION.sWelcome.section.bg-wrap#sWelcome&attributes(attributes)
		+pic("bg2.png",'bg','')(class="picture-bg wow  animate__fadeInUp "   )
		.container 
			+b.section-title.text-center(class="wow  animate__fadeInUp "   )
				h2 Дорогие друзья!
			div(class="wow  animate__fadeInUp "   )
				p 2020 год оказался беспрецедентным и&nbsp;подарил нам парадигму &laquo;новой нормальности&raquo;, в которой работа, общение, жизнь навсегда и&nbsp;кардинально видоизменились. В&nbsp;процессе ускоренной трансформации и&nbsp;адаптации к&nbsp;новому режиму людям открылась совершенно новая реальность, которая оказалась существенно глубже и&nbsp;противоречивей, чем существовавшие до&nbsp;этого представления о&nbsp;ней.

				p Теперь наша задача&nbsp;&mdash; научиться быстро находить ответы новым вызовам и&nbsp;видеть новые технологические возможности, чтобы текущий цифровой апгрейд позволил выстроить
	// end sWelcome