
	// start .sAbout
	.sAbout {
		&__row{
			@include media-breakpoint-up(lg) {
				columns: 2;
				display: block;
			}
			&__col{
				width: 100%;
				display: inline-block;
			}
		}
		&__col{
			page-break-inside: avoid;
			// margin-bottom: rem(40);
			padding-bottom: rem(50);
			font-weight: bold;
			img {
				margin-bottom: rem(24);
			}
		}
		
		h4{
			margin-bottom: rem(20);
		}
		li{
			list-style: none;
			padding-left: rem(40);
			position: relative;
			margin-bottom: 0.5rem;
			&::before{
				content: '';
				position: absolute;
				left: 0;
				top: rem(10);
				background-image: url(../img/svg/li.svg);
				width: rem(15);
				height: rem(15);
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		&__footer{
			@include media-breakpoint-up(sm) {

				max-width: (100% * 9 / 12);
			}
			position: relative;
			.animate-block-circle{
				left: 100%;
			}
			img{
				width: rem(437);
				max-width: 100%;
			}
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sAbout