mixin sAbout(data)
	// start sAbout
	+b.sAbout.section.pt-0#sAbout&attributes(attributes)
		.container.container-large
			+e.row.row
				mixin item(data)
					+e.col.col-lg-12(class="wow  animate__fadeInUp "   )
						img.res-i(src=`img/svg/about-${data.i}.svg`  loading="lazy", alt="")
						h4= data.t
						ul
							each item in data.items
								li= item
				+item({
					i:'1',
					t:'Самые активные IT-единомышленики:',
					items: [
						'мировые производители и разработчики',
						'корпоративные реселлеры',
						'интеграторы и сервис-провайдеры',
						'федеральная и региональная розница',
						'высокотехнологичные заказчики',
						'профильные медиа'
					]
				})
				
				+item({
					i:'3',
					t:'Эффективный нетворкинг',
					items: [
						'знакомство с перспективными партнерами',
						'демонстрация актуальных продуктов и решений',
						'закладывание фундамента новых проектов',
						'актуализация знаний о технологиях',
						'поиск ответов вызовам времени'
					]
				})
			

				+item({
					i:'2',
					t:'Новые уникальные форматы качественного общения',
					items: [
						'виртуальные демо-лаборатории с интерактивным подключением',
						'панельные дискуссии с персонализированным контентом',
						'технологичные переговоры и питч-сессии',
						'обмен практиками и success stories',
						'беседы тет-а-тет online'
					]
				})
				+item({
					i:'4',
					t:'Новый курс дистрибуции',
					items: [
						'дистрибуция как сервис: реалии, перспективы, точки соприкосновения',
						'личный опыт топ-менеджеров IT-рынка, взгляд на экономику, бизнес, финансы – апгрейд в парадигме нового времени'
					]
				})
				+item({
					i:'5',
					t:'Cинергия партнеров и заказчиков разных отраслей',
					items: [
						'финансы и страхование',
						'транспорт',
						'промышленность – энергетика, нефть и газ, металлургия и др.',
						'медицина и здравоохранение',
						'образование',
						'ритейл',
						'строительство',
						'телекоммуникации и СМИ',
						'HoReCa',
						'культура и спорт',
					]
				})
			+e.footer
				.row(class="wow  animate__fadeInUp "   )
					.col-lg-4.pb-4
						img(src="img/svg/logo-1.svg" loading="lazy", alt="")
					.col
						.h2 OCS DISTRIBUTION&nbsp;&mdash;  ОДИН ИЗ&nbsp;КРУПНЕЙШИХ ДИСТРИБЬЮТОРОВ НА РОССИЙСКОМ ИТ-РЫНКЕ.
				div(class="wow  animate__fadeInUp "   )
					p 26 лет назад наша компания была создана командой людей, хорошо знакомых с ИТ- каналом и понимавших, каким должен быть хороший дистрибьютор. Эти знания, преданность идеям крепкого партнерства и желание развивать рынок помогли нам вырасти и стать теми, кто мы есть сегодня.

					p В нашем портфеле почти 500 продуктовых линеек – от инфраструктур в коробке до наушников и детских конструкторов. В команде почти 2500 специалистов – от тех, кто знает слово «конвергентный», до тех, кто покажет как управлять гироскутером. У нас 27 городов присутствия в России, и если менеджер в одном офисе спит, то в другом скорее всего уже работает. Наш партнерский канал насчитывает почти 7500 компаний: это и интеграторы, и ритейлеры, и реселлеры различных специфик, и сабдистрибьюторы, и сборщики – большие и маленькие, федеральные и локальные. Каждый год мы организуем сотни учебных мероприятий, поездок и партнерских встреч, поддерживаем и развиваем демо-центр и центр сертификации.

					p Мы рады быть частью современного ИТ-рынка и развиваться вместе с ним!
				+b.animate-block-circle(class="wow  animate__fadeInUp "   )
					img.img-1(src="img/svg/circle-1.svg", alt="") 
					.ellipse.ellipse-1.ellipse-css
						//- .dot.dot1
						//- .dot.dot2
						.dot.dot3
						.dot.dot4
						.dot.dot5
						.dot.dot6 
					img.img-2(src="img/svg/circle-2.svg", alt="") 
					.ellipse.ellipse-2.ellipse-css
						.dot.dot1
						//- .dot.dot2
						//- .dot.dot3
						.dot.dot4
						.dot.dot5
						.dot.dot6 
					img.img-3(src="img/svg/circle-3.svg", alt="")
					.ellipse.ellipse-3.ellipse-css
						.dot.dot1
						.dot.dot2
						.dot.dot3
						.dot.dot4
						.dot.dot5
						.dot.dot6 
	// end sAbout