extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sVideo/_sVideo.pug
include ../blocks/sWelcome/_sWelcome.pug
include ../blocks/justUpgraitIt/_justUpgraitIt.pug
include ../blocks/sMembers/_sMembers.pug
//- include ../blocks/sAwaits/_sAwaits.pug
//- include ../blocks/sDates/_sDates.pug
//- include ../blocks/sExhibition/_sExhibition.pug
//- include ../blocks/sPartners/_sPartners.pug
//- include ../blocks/sWelcome/_sWelcome.pug
include ../blocks/sEvents/_sEvents.pug
//- include ../blocks/sSpeakers/_sSpeakers.pug


block variables
	- let  mainPage= 'main-page-2'
block title
	- let  title= 'Главная 2'
	title= title
block pagecontent
	+top-nav()
	+headerBlock1()
	+sMembers
	.section.container.container-large
		.section-title.text-center
			h2 Программа
		+sEvents

	+justUpgraitIt
	
	//- +sWelcome
	//- +sEvents0
	//- +sAwaits
	//- +sDates
	//- +sVideo
	//- +sExhibition
 
	//- +sLogos
	//- +sSpeakers0()
	+sLogos
	+footer()


	