extends layout/main.pug


include ../blocks/sContent/_sContent.pug  
include ../blocks/sSpeakers/_sSpeakers.pug
include ../blocks/sQuestions/_sQuestions.pug
include ../blocks/sTrackPlan/_sTrackPlan.pug
include ../blocks/sStream/_sStream.pug
include ../blocks/sLogos/_sLogos.pug
include ../blocks/sMembers/_sMembers.pug
include ../blocks/sAbout/_sAbout.pug

block variables
	- let  mainPage= null
block title
	- let  title= 'О форуме'
	title= title
block pagecontent
	//- +mob-mnu()
	+top-nav()
	+headerBlockPage() 
	+page-title(title)
		.w-100
		.col-xl-8(class="wow  animate__fadeInUp "   )
			.h1.pt-2.pb-1 Концентрация технологий, ведущих IT-игроков и&nbsp;лучших бизнес-практик одномоментно в&nbsp;одном пространстве. Без границ и&nbsp;барьеров
	+sAbout
	//- +sSpeakers 
	//- +sMembers8
	//- +sLive()
	//- +sSpeakers()
	//- +sQuestions()
	//- +sTrackPlan()
	//- +sLogos09
	//- +sContact()
	+footer()


	