mixin sContent()
	// start sContent
	+b.sContent.section.pt-0#sContent&attributes(attributes)
		.container.container-large
			.row
				.col-md.pb-3
					+pic("speaker")
				.col-md
					h2 Виктор Александрович Барышников
					.h3.text-secondary  Google inc
					.h3.text-secondary  Аккаунт менеджер
				.col-xl-4
					block

	// end sContent