
//- menu
mixin mnu()
	-
		var nav= { 
			
			"Спикеры":"#",
			"Участники":"#", 
			"Вендоры":"#", 
			"LIVE":"#", 
			"EXPO ":"#", 
			"3D-EXPO":"#", 
			"О форуме":"#", 
			}
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		+e.LI.item( itemprop="item" ): +e.A.link.text-primary(href="#"  itemprop="url")  Программа 
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- /menu